body{
    background-color: rgb(0, 118, 53);
    text-align: center;
}
h2{
    background-color: yellow;
    color: green;
}
h1{
    background-color: black;
    color: rgb(255, 255, 255);
}
iframe{
    width: 1000px;
}